<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/webLayout}">
<head>
    <title>View Product Card</title>
</head>
<body>
<div layout:fragment="webChildLayout">

    <div class="container mt-3">
        <a th:href="@{/product/viewTable}" class="btn btn-primary me-2">View As Table</a>
        <a th:href="@{/product/form}" class="btn btn-success me-2">Create New Product</a>
    </div>

    <!-- Loop card fragment -->
    <div class="container mt-3">
        <div class="row g-3">
            <div class="col-lg-3 col-md-4 col-sm-6" th:each="product : ${products}" th:object="${product}">
                <div th:replace="~{/fragments/card :: cardLink(*{id}, *{name}, *{description}, *{price})}"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>