<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/webLayout}">
<head>
    <title>View Product Table</title>
</head>
<body>
<div layout:fragment="webChildLayout">

    <div class="container mt-3">
        <a th:href="@{/product}" class="btn btn-primary me-2">View As Card</a>
    </div>

    <div class="container mt-3">
        <table class="table table-striped table-hover">
            <thead class="table-header">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Price</th>
                <th scope="col">Category Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}" th:object="${product}">
                <th scope="row" th:text="*{id}"></th>
                <td th:text="*{name}"></td>
                <td th:text="*{description}"></td>
                <td><span th:text="*{price}"></span>$</td>
                <td th:if="*{category != null}"><span th:text="*{category.name}"></span></td>
                <td th:unless="*{category != null}">---</td>
                <td>
                    <a th:href="@{/product/{id}/form(id = *{id})}" class="btn btn-warning">Update</a>
                    <a th:href="@{/product/{id}/delete(id = *{id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>