<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/webLayout}">
<head>
    <title>View Product Detail</title>
</head>
<body>
<div layout:fragment="webChildLayout">

    <div class="container mt-3">
        <h1>Product Detail</h1>
        <div class="mt-3">
            <section th:if="${product != null}">
                <h1 th:text="'Product Name : ' + ${product.name}"></h1>
                <h2 th:text="'Product Price : ' + ${product.price} + '$'"></h2>
                <h2 th:if="${product.category != null}"><span
                        th:text="'Category Name : ' + ${product.category.name}"></span></h2>
                <p th:text="'Product Description : ' + ${product.description}"></p>
            </section>
            <section th:if="${product == null}">
                <h1>There is no such product...!</h1>
            </section>
        </div>
        <div class="mt-3">
            <a th:href="@{/product}" class="btn btn-warning">Back</a>
        </div>
    </div>

</div>
</body>
</html>