<section xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="cardImage(id, name, description, price)" class="card">
        <img src="https://www.bridgetech.co.id/storage/2021/02/spring-logo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${name}"></h5>
            <p class="card-text" th:text="${description}"></p>
            <a th:href="@{/product/{id}(id = ${id})}" class="btn btn-primary" th:text="${price} + '$'"></a>
        </div>
    </div>

    <div th:fragment="cardLink(id, name, description, price)" class="card">
        <img src="https://www.bridgetech.co.id/storage/2021/02/spring-logo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${name}"></h5>
            <h6 class="card-subtitle mb-2 badge bg-danger text-white" th:text="${price} + '$'"></h6>
            <p class="card-text" th:text="${description}"></p>
            <a th:href="@{/product/{id}(id = ${id}, name = ${name})}" class="card-link btn btn-success">View Detail</a>
            <a href="#" class="card-link btn btn-danger">Buy</a>
        </div>
    </div>

    <div th:fragment="cardFeature(id, name, description, price)" class="card">
        <div class="card-header" th:text="${name}"></div>
        <div class="card-body">
            <h5 class="card-title" th:text="${name} + ' - ' + ${price} + '$'"></h5>
            <p class="card-text" th:text="${description}"></p>
            <a th:href="@{/product/{id}(id = ${id})}" class="btn btn-primary">View Detail</a>
        </div>
    </div>

</section>